.banner {
    background: url(../../assets/image/home/banner-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .btn {
        @media screen and (min-width: 768px) {
            width: 299px;
        }
    }
}

.blog {
    .card-container {
        width: 100%;
        overflow: hidden;
        height: 100%;
        transition: all 0.3s ease;
        filter: drop-shadow(6px 6px 18px rgba(0, 0, 0, 0.298));
        background: rgba(255, 255, 255, 0);
    }

    .image-container {
        height: 100%;
        width: 100%;
        position: absolute;
        content: "";
        top: 0px;
        left: 0px;
        z-index: -1;
    }

    .image-blog {
        position: relative;
        z-index: -1;
        transition: all 0.3s ease;
        height: 265px;
    }

    .active {
        transform: scale(1.3);
    }
}

.category {
    .slider-container {
        margin-top: 10px;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    .item {
        display: flex;
        flex-direction: column;
    }

    .owl-carousel-home .owl-stage {
        display: flex;
    }

    .owl-carousel-home .owl-item img {
        margin: 10px;
    }

    .owl-carousel-home .owl-prev.disabled,
    .owl-carousel-home .owl-next.disabled {
        pointer-events: none;
        opacity: 0.2;
    }

    .owl-carousel-home .nav-btn {
        height: 47px;
        width: 26px;
        position: absolute;
        cursor: pointer;
        top: 50%;
        transform: translate(0%, -50%);
    }

    .owl-carousel-home .prev-slide {
        background: url(../../assets/image/owl-carousel/prev-icon.png);
        left: 0;
        background-color: rgba(255, 255, 255, 0.8);
        background-position: center;
        height: 90px;
        width: 45px;
        background-repeat: no-repeat;
    }

    .owl-carousel-home .next-slide {
        background: url(../../assets/image/owl-carousel/next-icon.png);
        right: 0;
        background-color: rgba(255, 255, 255, 0.8);
        background-position: center;
        height: 90px;
        width: 45px;
        background-repeat: no-repeat;
    }

    .owl-dots {
        text-align: center;
        padding-top: 15px;
    }

    .owl-dots button.owl-dot {
        width: 12px;
        height: 12px;
        border-radius: 100%;
        display: inline-block;
        background: #fff;
        margin: 0 3px;
        border: none;
    }

    .owl-dots button.owl-dot.active {
        width: 24px;
        height: 24px;
        background-color: #E0CA94;
    }

    .owl-dots button.owl-dot:focus {
        outline: none;
    }

    .owl-carousel-home .owl-nav {
        overflow: hidden;
        height: 0px;
    }
}

.promo {
    .content {
        width: 200px;

        @media screen and (min-width: 768px) {
            width: 400px;
        }
    }

    .img {
        height: 200px;
        width: 200px;

        @media screen and (min-width: 768px) {
            width: 400px;
            height: 400px;
        }
    }
}


.discount {
    .img {
        height: 200px;
        width: auto;
        @media screen and (min-width: 768px) {
            width: 200px;
            height: auto;
        }

        @media screen and (min-width: 1024px) {
            width: 300px;
            height: auto;
        }

        @media screen and (min-width: 1440px) {
            width: auto;
        }
    }
}

.gift {
    .img-left {
        width: 300px;
        height: auto;
        @media screen and (min-width: 768px) {
            width: 550px;
        }

        @media screen and (min-width: 1024px) {
            width: 400px;
        }

        @media screen and (min-width: 1440px) {
            width: 650px;
        }
    }

    .img-right {
        width: 150px;
        height: auto;
        @media screen and (min-width: 768px) {
            width: 270px;
        }

        @media screen and (min-width: 1024px) {
            width: 200px;
        }

        @media screen and (min-width: 1440px) {
            width: 350px;
            height: 350px;
        }
    }
}

.category{
    .img {
        width: 100px;
        height: auto;
        @media screen and (min-width: 768px) {
            width: 200px;
        }
        @media screen and (min-width: 1024px) {
            width: 150px;
        }
        @media screen and (min-width: 1440px) {
            width: 200px;
        }
    }
}